body {
    margin: 0;
    /* background-color: white; */
    background-image: url("../images/background2.png");
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#start-btn {
    background-color: #fddc4d;
    color: #ef3004;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 20px;
}

#game-box {
    background-color: darkgray;
    border: 2px solid green;
    
    width: 1024px;
    height: 768px;

    position: relative;
    user-select: none;
    /* overflow: hidden; */

    background-image: url("../images/Background.png");
    background-position: center;
    background-size: cover;
}

#game-over-screen img {
    width: 500px;
    height: 500px;
    display: flex;
    /* top: 0;
    left: 0; */
}

#restart-btn {
    background-color: #fddc4d;
    color: #ef3004;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 20px;
}

#game-screen, #game-over-screen {
    display: none;
}

#quest {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    background-color: black;
    border-radius: 30px;
}

#answer-btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 600px;
}

.answer1, #answer2, #answer3 {
    background-color: black;
    color: white;
    text-align: center;
    width: 50px;
    height: 20px;
    outline: auto;
    /* border-radius: 30px; */
}